* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  /* background: url(./background.png) no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #d6d6e3;
}
.nav-top {
  background-color: #ffffff;
}
.navbar-toggler {
  box-shadow: none;
}
.navbar-toggler:focus {
  box-shadow: none;
  border: #46994b solid 1px;
}
.icon-color {
  color: #46994b;
}
.bg-success,
.btn-success {
  background-color: #46994b;
}
.text-success {
  color: #46994b;
}
p {
  line-height: 1.8rem;
}
.service-img {
  transition: 0.5s ease-in-out;
}
.service-img:hover {
  transform: scale(1.1);
}

.work-link:hover {
  color: #fff !important;
}
.card {
  overflow: hidden;
}
.work-img {
  transition: 0.5s ease-in-out;
}
.work-img:hover {
  transform: scale(1.05);
}

.contact-icon {
  font-size: 300%;
  transition: 0.5s ease-in-out;
}

.contact-icon:hover {
  transform: scale(1.07);
}
.contact-us-links {
  text-decoration: none;
  color: #111;
}
